.links-container{
    margin: 2rem auto 0 auto;
    max-width: 1120px;
}

.links-header{
    display: flex;
}

.links-header svg{
    margin-right: 14px;
}

.links-header h1{
    color: #FFF;
}

.links-item{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 0.5rem;
    width: 700px;
}

.empty-text{
    color: #FFF;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.links-item:last-child{
    margin-bottom: 1.2px;
}

.link{
    align-items: center;
    background: rgb(255, 255, 255, 0.15);
    border: none;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    font-size: 1.05rem;
    height: 46px;
    margin-right: 14px;
    min-width: 80%;
    padding: 0 0.85rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link svg{
    margin-right: 14px;
}

.link-delete{
    border: 0;
    background: transparent;
}

@media screen and (max-width: 710px){

    .links-container{
        width: 90%;
    }

    .links-header h1{
        font-size: 2rem;
    }

    .links-item{
        width: 100%;
    }

    .link{
        width: 100%;
    }

    .link:active{
        outline: 2px solid #000;
    }

    .link-delete:active{
        outline: 2px solid #000;
    }

    .link svg{
        display: none;
    }
}

